# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyTorch/Tensor files
*.pt
*.pkl

# FastAPI specific
*.log
*.db

# System files
.DS_Store

# IDEs/editors
.vscode/
.idea/

# Environment variables
.env

# Docker
*.tar
docker-compose.override.yml
